numpy==1.19.5
cython==0.29.2
trimesh==2.37.7

chumpy
scipy
scikit-image
matplotlib
pandas

pillow
imageio
opencv-python==3.4.0.14

plyfile
libigl

rtree
pybullet
tqdm
h5py
pyyaml==3.13 # TODO: Need Upgrade

--find-links=https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cu100
torchvision==0.5.0+cu100

--find-links=https://pytorch-geometric.com/whl/torch-1.4.0+cu100.html
torch_scatter==2.0.4
tensorboardX==1.4

tensorboard
jupyterlab