numpy==1.23.5
cython
trimesh
chumpy
scipy
scikit-image
open3d
matplotlib
pandas
pillow
imageio
opencv-python
plyfile
libigl
rtree
pybullet
tqdm
h5py
pyyaml
tensorboard
tensorboardX
jupyterlab
pykdtree

--extra-index-url=https://download.pytorch.org/whl/cu116
torch==1.13.0+cu116
torchvision==0.14.0+cu116

--find-links=https://data.pyg.org/whl/torch-1.13.0+cu116.html
torch_scatter==2.0.9

