method: conv_onet
data:
  input_type: pointcloud
  classes: null
  path: /disk2/data/TactileFusion_final
  pointcloud_n: 3000
  pointcloud_noise: 0.005
  points_subsample: 100000
  num_sample: 2048
  points_file: points.npz
  points_iou_file: points.npz
  voxels_file: null
  pointcloud_file: pointcloud.npz
  points_unpackbits: False

model:
  train_tactile: True
  with_img: True
  with_contact: False

  encoder: False

  encoder_hand: pointnet_local_pool
  encoder_hand_kwargs:
    hidden_dim: 32
    plane_type: ['xz', 'xy', 'yz']
    plane_resolution: 64
    unet: True
    unet_kwargs:
      depth: 4
      merge_mode: concat
      start_filts: 32
    out_mano: True
    out_dim: 30
    manolayer_kwargs:
      center_idx: 9
      flat_hand_mean: False
      ncomps: 45
      side: right
      mano_root: src/encoder/assets/mano
      use_pca: False
      root_rot_mode: axisang
      joint_rot_mode: axisang
      robust_rot: False
      return_transf: False
      return_full_pose: True

  encoder_img: UNet
  encoder_img_kwargs:
    num_classes: 1
    in_channel: 3
    start_filts: 32
    depth: 3

  encoder_t2d: False
  encoder_t2d_kwargs: False

  
  decoder: False
  
  
training:
  out_dir: out/tactile/test
  opt: Adam
  lr: 0.0001
  gpu: 0
  batch_size: 12
  model_selection_metric: loss_depth
  model_selection_mode: minimize
  print_every: 100
  visualize_every: 20000
  validate_every: 1000
  checkpoint_every: 3000
  backup_every: 10000
  n_workers: 8
  n_workers_val: 4
test:
  model_file: model.pt
generation:
  vis_all: False
  vis_split: 10
  vis_n_outputs: 168
  refine: false
  n_x: 128
  n_z: 1
  alpha: 0.2

